<row>
  <% if (errors && errors.length) { %>
  <div class="alert alert-danger mt-4" role="alert">
    Please follow the below rules:
    <ul>
      <% errors.forEach(function(error) { %>
      <li><%= error.msg %></li>
      <% }) %>
    </ul>
  </div>
  <% } %>
  <form
    method="POST"
    enctype="multipart/form-data"
    class="col-md-6 mx-auto py-4 catefory-form"
  >
    <div class="mb-3">
      <label for="inputCategoryName" class="form-label">Name</label>
      <input
        type="text"
        class="form-control"
        id="category_name"
        name="category_name"
        value="<%= category.name ? category.name : null %>"
        required
      />
    </div>
    <div class="mb-3">
      <label for="inputCategoryDescription" class="form-label">
        Description
      </label>
      <textarea
        required
        class="form-control"
        id="category_description"
        name="category_description"
        rows="3"
      >
<%= category.description ? category.description.trim() : null %>
</textarea
      >
    </div>

    <% if (category._id) { %>
    <div class="mb-3">
      <label for="inputCategoryImage" class="form-label"
        >Category Creation Date
      </label>
      <input
        type="text"
        class="form-control"
        id="category_creation_date"
        name="category_creation_date"
        value="<%= category.creation_date_formatted ? category.creation_date_formatted : null %>"
      />
    </div>
    <div class="mb-3">
      <label for="inputCategoryImage" class="form-label"
        >Category Updated Date
      </label>
      <input
        type="text"
        class="form-control"
        id="category_updated_date"
        name="category_updated_date"
        value="<%= category.updated_date_formatted ? category.updated_date_formatted : null %>"
      />
    </div>
    <% } %> <% if (category.image) { %>
    <div class="mb-3">
      <img
        src="<%= category.image %>"
        class="img-thumbnail"
        alt="<%= category.name %>"
      />
    </div>
    <% } %>
    <div class="mb-3">
      <label for="inputCategoryImage" class="form-label">
        <%= category.image ? 'Change Image' : 'Image' %>
      </label>
      <input
        type="file"
        class="form-control"
        id="category_image"
        name="category_image"
      />
    </div>

    <hr />

    <div class="text-end">
      <a href="/category" class="btn btn-default">Back to Categories</a>
      <button type="submit" class="btn btn-primary">
        <%= category.id ? "Update" : "Create" %>
      </button>
    </div>
  </form>
</row>
